# ------------------------------------------
# Next.js
# ------------------------------------------
PORT=3000
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# ------------------------------------------
# Keystatic - Configuration de la GitHub App
# ------------------------------------------
KEYSTATIC_GITHUB_APP_CLIENT_ID=unidclient
KEYSTATIC_GITHUB_APP_SECRET=unsecret
KEYSTATIC_SECRET=unexemple
NEXT_PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=unslug
